######################################
#                                    #
#      Database configurations       #
#                                    #
######################################
POSTGRES_USER="someuser"
POSTGRES_PASSWORD="changeme"

MONGO_ROOT_USER="someuser"
MONGO_ROOT_PASSWORD="changeme"

######################################
#                                    #
#      RabbitMQ configurations       #
#                                    #
######################################
RABBITMQ_HOSTNAME="rabbitmq"
RABBITMQ_USERNAME="guest"
RABBITMQ_PASSWORD="guest"
RABBITMQ_PORT="5672"

######################################
#                                    #
#    Microservices configurations    #
#                                    #
######################################
PROJECTS_BASE_URL="http://projects:5000"
PAYMENTS_BASE_URL="http://payments:5000"
USERS_BASE_URL="http://users:5000"
MEILI_BASE_URL="http://meili:7700"
TEMPORAL_SERVER_BASE_URL="http://temporal_server:7233"

######################################
#                                    #
#         External API Keys          #
#                                    #
######################################
STRIPE_PUBLISHABLE_KEY="STRIPE_PUBLISHABLE_KEY"
STRIPE_SECRET_KEY="STRIPE_SECRET_KEY"

SENDGRID_API_KEY="SENDGRID_API_KEY"
SENDGRID_FROM_EMAIL="some.email@email.com"

######################################
#                                    #
#       Custom configurations        #
#                                    #
######################################
APP_PORT="5000"
